body{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    background-color: var(--color-body);
}

:root{
    --color-body: rgb(170, 215, 217);
    --color-header: rgb(83, 152, 162);
    --color-main: rgb(251, 249, 241);
    --color-acento: rgb(229, 225, 218);
}

header {
    display: flex;
    background-color:var(--color-header);
    padding: 20px 0;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
}

h1{
    align-self: center;
    font-size: 20px;
    font-weight: bold;
    margin-right: 7em;
}

.contenedor_nav{
    display: inline-flex;
}

.contenido_nav{
    flex-direction: row;
    padding: 15px;
}

main{
    background-color: var(--color-main);
    margin: 10px 12%;

}

.contenedor_inicio{
    margin-top: 100px;
}

h3{
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    margin-bottom: 1em;
}

.foto_perfil{
    width: 300px;
    float: right;
    margin: -20px -20px 10px 20px;
    border-radius: 15px;
}

.links_perfil{
    display: inline-block;
    padding: 2em 10px 10px 0px;
}

section{
    padding: 20px 6%;
    margin: 10px 0;
}

.contenedor_laboral{
    list-style-type: circle;
}

.contenedores_sec ul{
    margin: 0 0 0 2em;
}

.contenedores_sec li{
    padding-bottom: 0.5em;
}

.contenedor_habilidades, .contenedor_educacion{
    display:flex;
}

.card {
    display: row;
    background: var(--color-acento);
    border-radius: 5px;
    margin: 20px 20px 20px 0px;
    width: calc(25% - 30px);
    height: 150px;
    padding: 20px;
    text-align: center;
    color: black;
}

footer{
    background-color:var(--color-header);
    text-align: center;
    padding: 1em;
}